.alphabet
  @media (max-width: 1267px)
    display none
  div
    margin 10px 0
    display flex
    a
      margin-right 20px
      font-size 18px
      text-decoration none
      color inherit
      text-transform uppercase
      transition .5s
      &:hover
        @media (hover)
          color var(--gold)
