section.section.about
  div.about__item
    div.container
      div.about__text
        h2.title1 МТК Гранд
        p.text1 Мебельный торговый комплекс «ГРАНД» уже более 20 лет является самым крупным специализированным торговым комплексом Европы по продаже российской и импортной мебели. 
        p.text1 Здесь располагаются флагманские салоны ведущих мировых брендов. Здесь можно найти всё необходимое для создания уюта: мебель для гостиных, детских, прихожих, ванных, кухонные гарнитуры, корпусную и мягкую мебель, а также текстиль и изысканные аксессуары.
        p.text1 МТК «Гранд» предлагает широкий выбор качественных товаров для идеального ремонта: обои, настенную и напольную керамическую плитку, керамогранит, мозаику для ванной, паркетную доску и ламинат,  а также богатый ассортимент для декоративного оформления интерьера.
        p.text1 Гости мебельного торгового комплекса «Гранд» всегда могут воспользоваться бесплатной парковкой на 2500 машиномест. Для желающих действуют услуги «Мебель в кредит», сборка-доставка мебели и реставрация.
        p.text1 Чтобы посещение торгового комплекса было комфортным, работают рестораны и кафе с европейской и восточной кухней.
        a(href="").link Смотреть 3D Тур
      div.about__slider
        div.slick
          img(src="/img/demo/about2.jpg")
          img(src="/img/demo/about1.jpg")
          img(src="/img/demo/about3.jpg")
  div.about__item
    div.container
      div.about__text
        h2.title1 ТЦ Гранд Юг
        p.text1 Мебельный центр «ГРАНД ЮГ» это торговый центр нового типа, объединяющий в одном комплексе весь спектр товаров для дома: от товаров для ремонта до мебели, электроники и декора.
        p.text1 В «ГРАНД ЮГ» располагаются салоны ведущих мировых брендов мебели и товаров интерьера. Здесь можно найти всё необходимое для вашего дома: мебель для гостиных, детских, прихожих, ванных, кухонные гарнитуры, корпусную и мягкую мебель, а также текстиль и изысканные аксессуары. «Гранд ЮГ» предлагает широкий выбор качественных товаров для идеального ремонта: обои, настенную и напольную керамическую плитку, керамогранит, мозаику для ванной, паркетную доску и ламинат, а также богатый ассортимент для декоративного оформления интерьера.
        a(href="").link Смотреть 3D Тур
      div.about__slider
        div.slick
          img(src="/img/demo/about1.jpg")
          img(src="/img/demo/about2.jpg")
          img(src="/img/demo/about3.jpg")
  div.about__item
    div.container
      div.about__text
        h2.title1 Электронный рай
        p.text1 Мебельный торговый комплекс «ГРАНД» уже более 20 лет является самым крупным специализированным торговым комплексом Европы по продаже российской и импортной мебели. 
        p.text1 Здесь располагаются флагманские салоны ведущих мировых брендов. Здесь можно найти всё необходимое для создания уюта: мебель для гостиных, детских, прихожих, ванных, кухонные гарнитуры, корпусную и мягкую мебель, а также текстиль и изысканные аксессуары.
        p.text1 МТК «Гранд» предлагает широкий выбор качественных товаров для идеального ремонта: обои, настенную и напольную керамическую плитку, керамогранит, мозаику для ванной, паркетную доску и ламинат,  а также богатый ассортимент для декоративного оформления интерьера.
        p.text1 Гости мебельного торгового комплекса «Гранд» всегда могут воспользоваться бесплатной парковкой на 2500 машиномест. Для желающих действуют услуги «Мебель в кредит», сборка-доставка мебели и реставрация.
        p.text1 Чтобы посещение торгового комплекса было комфортным, работают рестораны и кафе с европейской и восточной кухней.
        a(href="").link Смотреть 3D Тур
      div.about__slider
        div.slick
          img(src="/img/demo/about3.jpg")
          img(src="/img/demo/about1.jpg")
          img(src="/img/demo/about2.jpg")
