include ../mixins/blog-item.pug
section.section.blog-page
  div.container
    div.tags
      a(href="").active.text2 Все рубрики
      a(href="").text2 Полезно знать
      a(href="").text2 Гид по стилю
      a(href="").text2 Подборки
      a(href="").text2 Интервью
      a(href="").text2 Тренды
    h2.title1 Все рубрики
    div.blog__grid
      +blog-item("Подборки","Выбираем красивые и качественные обои","Узнайте, как сделать ваш дом умиротворяющим и уютным.","/img/demo/home-blog1.jpg")
      +blog-item("Полезно знать","Интерьер для аристократов","Узнайте, как сделать ваш дом умиротворяющим и уютным.","/img/demo/home-blog2.jpg")
      +blog-item("Гид по стилю","Выбираем красивые и качественные обои","Узнайте, как сделать ваш дом умиротворяющим и уютным.","/img/demo/home-blog3.jpg")
      +blog-item("Подборки","Выбираем красивые и качественные обои","Узнайте, как сделать ваш дом умиротворяющим и уютным.","/img/demo/home-blog1.jpg")
      +blog-item("Полезно знать","Интерьер для аристократов","Узнайте, как сделать ваш дом умиротворяющим и уютным.","/img/demo/home-blog2.jpg")
      +blog-item("Гид по стилю","Выбираем красивые и качественные обои","Узнайте, как сделать ваш дом умиротворяющим и уютным.","/img/demo/home-blog3.jpg")
      +blog-item("Подборки","Выбираем красивые и качественные обои","Узнайте, как сделать ваш дом умиротворяющим и уютным.","/img/demo/home-blog1.jpg")
      +blog-item("Полезно знать","Интерьер для аристократов","Узнайте, как сделать ваш дом умиротворяющим и уютным.","/img/demo/home-blog2.jpg")
      +blog-item("Гид по стилю","Выбираем красивые и качественные обои","Узнайте, как сделать ваш дом умиротворяющим и уютным.","/img/demo/home-blog3.jpg")
      +blog-item("Подборки","Выбираем красивые и качественные обои","Узнайте, как сделать ваш дом умиротворяющим и уютным.","/img/demo/home-blog1.jpg")
      +blog-item("Полезно знать","Интерьер для аристократов","Узнайте, как сделать ваш дом умиротворяющим и уютным.","/img/demo/home-blog2.jpg")
      +blog-item("Гид по стилю","Выбираем красивые и качественные обои","Узнайте, как сделать ваш дом умиротворяющим и уютным.","/img/demo/home-blog3.jpg")
    div.blog__more-btn
      button.btn Еще статьи
