include ../mixins/catalog-item.pug

section.section.catalog-carousel
  .container
    .catalog-carousel__heading
      h2.title1 Мебель и декор
      div
        a(href="/catalog.html").link Смотреть каталог
    .catalog-carousel__carousel
      +catalog-item("Neopoliscasa","Торшер Casa dei sogni","/img/demo/item1.jpg")
      +catalog-item("Pushe","Диван-кровать арти 2","/img/demo/item2.jpg")
      +catalog-item("Pushe","Кресло «Лайоль»","/img/demo/item3.jpg")
      +catalog-item("ИнтерДизайн","комод лара-2","/img/demo/item4.jpg")
      +catalog-item("Pushe","прикроватная тумба «верона max»","/img/demo/item5.jpg")
      +catalog-item("Pushe","Кровать «Капри» Diamond","/img/demo/item6.jpg")
      +catalog-item("Pushe","ДИВАН ОСТИН","/img/demo/item7.jpg")
      +catalog-item("Ладья","ДИВАН ХИЛТОН Y31","/img/demo/item8.jpg")
      +catalog-item("Neopoliscasa","Торшер Casa dei sogni","/img/demo/item1.jpg")
      +catalog-item("Pushe","Диван-кровать арти 2","/img/demo/item2.jpg")
      +catalog-item("Pushe","Кресло «Лайоль»","/img/demo/item3.jpg")
      +catalog-item("ИнтерДизайн","комод лара-2","/img/demo/item4.jpg")
      +catalog-item("Pushe","прикроватная тумба «верона max»","/img/demo/item5.jpg")
    
