section.section.section--nopb.catalog
  div.container
    aside.catalog__aside
      h2.title2 Диваны и кресла
      include ../common/aside-catalog.pug
      div.aside__ad
        a(href="",target="_blank")
          img(src="/img/demo/aside-ad.svg")
    div.catalog__content
      div.catalog__top
        h2.title2 Угловые диваны
        form(id="",action="").catalog__search
          input(type="text",placeholder="Поиск товара")
          button
            include ../../img/icons/search.svg
      div.tags
        a(href="").text2 Большие угловые диваны
        a(href="").text2 Угловые диваны-кровати
        a(href="").text2 Недорогие
        a(href="").text2 Кожаные угловые диваны
      include ../blocks/catalog-block.pug
            

              
          
