div.home-links
  a(href="/grand.html").home-links__col.home-links__col--grand
    div.home-links__tc
      div.home-links__heading
        span Гранд
      div.home-links__address.text1
        div.icon
          include ../../img/icons/location.svg
        span г. Химки, Бутаково 4
  a(href="/grand-yug.html").home-links__col.home-links__col--yug
    div.home-links__tc
      div.home-links__heading
        span Гранд Юг
      div.home-links__address.text1
        div.icon
          include ../../img/icons/location.svg
        span г. Москва, м.Пражская, </br>ул. Кировоградская, д.15
  a(href="/el-rai.html").home-links__col.home-links__col--rai
    div.home-links__tc
      div.home-links__heading
        span Электронный Рай
      div.home-links__address.text1
        div.icon
          include ../../img/icons/location.svg
        span г. Москва, м.Пражская, </br>ул. Кировоградская, д.15
