.section.section--nopt.home-video
  div.container
    div.video
      video(controls)
        source(src="/img/demo/video.mp4", type="video/mp4")
      div(style="background-image: url(/img/demo/video-poster.jpg)").overlay
        div
          button.video__btn
      
      
  
