div.marquee
  div.marquee__item.marquee__item--large Новости ТЦ
  div.marquee__item МТК Гранд
  div.marquee__item.marquee__item--large Скидки и акции
  div.marquee__item Гранд Юг
  div.marquee__item.marquee__item--large Карта лояльности
  div.marquee__item Электронный рай
