section.section.privilege-form
  include marquee.pug
  div.container
    h2.title-large Гранд Привилегия
    div.section-top
      h2.title1 — Карта лояльности
    div.privilege-form__block
      div.privilege-form__left
        div.privilege-form__card
          img(src="img/privilege-card.png")
          div.privilege-form__card-number
            span 1234
            span 5678
            span 9012
            span 3456
          div.privilege-form__card-name Name Surname  
        p.text2 В личном кабинете вы можете настроить параметры рассылки
        a(href="/personal.html").btn.btn--default Личный кабинет
      div.privilege-form__right
        div.privilege-form__loggedin
          div.privilege__icons
            div
              img(src="/img/icons/privilege-lock.svg")
              p Доступ к закрытым </br>спецпредложениям
            div
              img(src="/img/icons/privilege-present.png")
              p Приятные бонусы </br>и подарки
            div
              img(src="/img/icons/privilege-discount.png")
              p Дополнительные скидки </br>в МТК «Гранд» и ТЦ «Гранд Юг»
            div
              img(src="/img/icons/privilege-interior.png")
              p Идеи </br>для интерьера
          p.text2 Предъявляйте вашу карту «Гранд Привилегия» любым удобным способом (в распечатанном виде, на телефоне) при покупке в МТК «Гранд» и ТЦ «Гранд Юг» 
          
          
          
            
