section.section.sale-detail
  div.container
    div.sale-detail__top
      div.title2 Mr.Doors
      div.sale-detail__pagination
        a(href="").pagination-arrow.pagination-prev.slick-disabled
        div.pagination-counter <span>1</span>/15
        a(href="").pagination-arrow.pagination-next
    div.sale-detail__content
      div.sale-detail__left
        a(href="/shop-detail.html")
          img(src="/img/demo/shop-logo.png")
        div.sale-detail__contact
          p.text1 ГРАНД-2, 4 этаж
          p.text1 7(495)780-33-00(33) доб. 44-17, 44-40.
      div.sale-detail__right
        div.sale-detail__date 17.08.2020
        div.sale-detail__text.text1
          h2 С 1 июля по 31 августа 2020 г. компания Mr.Doors проводит Акцию «Скидка до 50% на мебель и кухни»  
          p Благодаря многочисленным дополнительным скидкам мы можем довести стоимость вашего заказа на мебель и кухни до половины от начальной цены!
          p Базовая акция «Скидка 30% на мебель и кухни», которая действует во всех регионах РФ, плюс скидки на отдельные декоры, столешницы и фасады до 75%, плюс подарочные акции по кухонной технике и наполнению – вам понравится наша цена!
          p Просим обратить внимание, что коммуникация скидок «до 50%» не подразумевает безусловной скидки 50% на заказ или отдельную единицу из прайс-листа.  Обозначенный размер скидки достигается путём комбинации различных промо-предложений в одном заказе.
          p С 3 августа июля по 31 августа, компания Mr.Doors дает скидки на столешницы:
          p.
            Скидка 40% на изделия «Getalit»<br>
            Скидка до 45% на столешницы серии «HPL»<br>
            Скидка 50% - 60% на изделия серии «Touch-Line», «Глянцевая Линия», «Laminate Plus»<br>
            Скидка 40%, 50%, 60% на изделия «QUARZELAN»<br>
            Скидка до 45% на столешницы «Stone Twelve»
