div.school-numbers
  div.container
    div.school-numbers__item
      h2 2
      h3.title2 Мебельных<br>центра
    div.school-numbers__item
      h2 150+
      h3.title2 Участников
    div.school-numbers__item
      h2 до 70%
      h3.title2 Скидки
    div.school-numbers__item
      h2 12
      h3.title2 Экспертов
  
