section.section.shop-detail
  div.container
    div.shop-detail__top
      div.shop-detail__logo
        img(src="/img/demo/shop-detail-logo.png")
      nav.shop-detail__nav
        a(href="#contact").anchor.title2 Контакты
        a(href="#").anchor.title2 Новости и акции
        a(href="#").anchor.title2 Интерьерные решения
        a(href="#").anchor.title2 Товары магазина
    div.shop-detail__content
      div.shop-detail__left
        div.shop-detail__text.text1
          p Компания FАБRИК предлагает качественную корпусную и встроенную мебель на заказ по индивидуальным размерам. 
          p В своей работе мы используем материалы и комплектующие ведущих европейских производителей, которые проходят многоуровневые проверки качества, прежде чем попасть на производственную площадку. 
          p Изготовление мебели осуществляется на современном оборудовании,     а процесс производства контролируют специалисты высокого уровня. Разработанный нашими дизайнерами проект будет воплощен в жизнь     с учетом ваших пожеланий по стилю, цвету и конфигурации.
          p Наши преимущества:
          p - мы предлагаем гарантию на нашу продукцию в соответствии со всеми нормами и требованиями законодательства РФ
          p - грамотный и профессиональный подход ведущих дизайнеров к каждому клиенту
          p - возможность осуществления покупки в рассрочку или кредит
        h3.title2 Представленные бренды
        ul.shop-detail__brands
          li.text1 Cleaf
          li.text1 Tabu
          li.text1 Alvic
          li.text1 Swiss Krono
          li.text1 VIBO
          li.text1 Blum
          li.text1 Hettich
          li.text1 Volpato
          li.text1 Inoxa
      div.shop-detail__right
        div.shop-detail__slider
          div.slick
            div.shop-detail__slide
              img(src="/img/demo/shop-detail-slide1.jpg")
            div.shop-detail__slide
              img(src="/img/demo/shop-detail-slide2.jpg")
            div.shop-detail__slide
              img(src="/img/demo/shop-detail-slide1.jpg")
            div.shop-detail__slide
              img(src="/img/demo/shop-detail-slide2.jpg")
            div.shop-detail__slide
              img(src="/img/demo/shop-detail-slide1.jpg")
            div.shop-detail__slide
              img(src="/img/demo/shop-detail-slide2.jpg")
    
    h2.title1#contact Контакты
    div.shop-detail__contacts
      div.shop-detail__contact
        h3 МТК «Гранд»
        p.text1
          a(href="/contact.html",target="_blank") Химки, ул.Бутаково, 4
        a
          div.icon
            include ../../img/icons/location.svg
          span.text1 Гранд-2, Этаж 2
        a(href="tel:74997053087")
          div.icon
            include ../../img/icons/phone.svg
          span.text1 +7 (499) 705-30-87
        a(href="http://wellige.ru",target="_blank")
          div.icon
            include ../../img/icons/website.svg
          span.text1 wellige.ru
        div.shop-detail__contact-links
          a
            div.icon
              include ../../img/icons/scheme.svg
            span.link Найти на схеме
          a
            div.icon
              include ../../img/icons/3d.svg
            span.link 3D-тур
        button.btn.btn--gold.btn--message Связаться
            
      div.shop-detail__contact
        h3 ТЦ «Гранд Юг»
        p.text1
          a(href="/contact.html",target="_blank") Москва, м.Пражская, ул. Кировоградская, д.15
        a
          div.icon
            include ../../img/icons/location.svg
          span.text1 Этаж 2
        a(href="tel:74997053086")
          div.icon
            include ../../img/icons/phone.svg
          span.text1 +7 (499) 705-30-86
        a(href="http://wellige.ru",target="_blank")
          div.icon
            include ../../img/icons/website.svg
          span.text1 wellige.ru
        div.shop-detail__contact-links
          a
            div.icon
              include ../../img/icons/scheme.svg
            span.link Найти на схеме
        button.btn.btn--gold.btn--message Связаться
        
div.popup.popup--message
  div.popup__inner
    div.popup__close
    div.message-form
      form(id="",action="").reg-form
        label.reg-form__input.text2
          input(type="text", name="")
          span Имя<sup>*</sup>
        label.reg-form__input.text2
          input(type="email", name="")
          span Email<sup>*</sup>
        label.reg-form__input.text2
          input(type="text", name="").phoneinput
          span Телефон
        label.reg-form__input.text2
          textarea(name="",placeholder="Сообщение")
        button.btn.btn--gold Отправить
          
        
          
      
                
      
