section.subscribe
  div.container
    div.subscribe__left
      p Подпишись на нашу рассылку и будь в курсе последних новостей!
    div.subscribe__right
      form(id="",action="")
        input(type="email",placeholder="Ваш e-mail")
        button.btn.btn--gold Подписаться
        label.subscribe__agree Я согласен на обработку моих персональных данных на условиях, определенных <a href="">Политикой конфиденциальности</a>
          input(type="checkbox").hidden
          div.check
