section.section.torenters
  div.container
    div.torenters__items
      div.torenters__item
        h2.title1 Заявка на аренду торговой площади
        p.text1 Позвоните нам по телефону
        p.text1 <b>+7 495 780-33-00</b>
        p.text1 Добавочные тел.: 3101, 3243, 3001, 3015, 3164
        button.btn Или заполните форму
      div.torenters__item
        h2.title1 Заявка на рекламные услуги
        p.text1 Позвоните нам по телефону
        p.text1 <b>+7 495 780-33-00</b>
        p.text1 Добавочные тел.: 3195, 3248, 3240, 3247
        button.btn Или заполните форму
    
    div.torenters__panel
      form(id="",action="")
        h2 Информация о фирме
        div.torenters__columns
          div
            label.torenters__input
              h3 Полное наименование фирмы <sup>*</sup>
              input(type="text",name="")
            label.torenters__input
              h3 Ассортимент
              input(type="text",name="")    
            label.torenters__input
              h3 Наличие товара на складе
              input(type="text",name="")
            label.torenters__input
              h3 Дополнение
              textarea(name="")
          div
            label.torenters__input
              h3 Краткое описание видов деятельности
              textarea(name="",placeholder="Производство, торговля, услуги и т.д.")
            label.torenters__input
              h3 Ценовая политика
              textarea(name="")
                
        h2 Варианты сотрудничества        
        div.torenters__columns
          div
            label.torenters__input
              h3 Укажите требуемое количество метров
              input(type="text",name="")
            label.torenters__input
              h3 Только в секции
              input(type="text",name="",placeholder="«Отдельные предметы», «Свет» и т.п.")
          div
            label.torenters__input
              h3 Другие предложения
              textarea(name="")
        
        h2 Данные для связи      
        div.torenters__columns
          div
            label.torenters__input
              h3 Контактное лицо <sup>*</sup>
              input(type="text",name="",placeholder="Должность, фамилия, имя, отчество")
            label.torenters__input
              h3 Телефон <sup>*</sup>
              input(type="text",name="").phoneinput
          div
            label.torenters__input
              h3 E-mail
              input(type="text",name="")
            label.torenters__input
              h3 Сайт
              input(type="text",name="")
              
        label.reg-form__agree Я согласен на обработку моих персональных данных на условиях, определенных <a href="">Политикой конфиденциальности</a>
          input(type="checkbox",name="",value="").hidden
          div.check
          
        p <sup>*</sup> Поля, обязательные для заполнения
        button.btn.btn--gold Отправить
    div.torenters__panel
      form(id="",action="")
        div.torenters__right
          label.torenters__input
            h3 ФИО <sup>*</sup>
            input(type="text",name="")
          label.torenters__input
            h3 E-mail <sup>*</sup>
            input(type="text",name="")
          label.torenters__input
            h3 Телефон <sup>*</sup>
            input(type="text",name="").phoneinput
          label.torenters__input
            h3 Сообщение <sup>*</sup>
            textarea(name="")
              
          label.reg-form__agree Я согласен на обработку моих персональных данных на условиях, определенных <a href="">Политикой конфиденциальности</a>
            input(type="checkbox",name="",value="").hidden
            div.check
            
          p <sup>*</sup> Поля, обязательные для заполнения
          button.btn.btn--gold Отправить
          
            
          
        
