.aside {
  padding: 50px 100px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background: var(--white);
  transform: translateX(-110%);
  transition: 0.5s;
  height: 100vh;
  max-width: 500px;
  box-shadow: 1px 0 10px rgba(0,0,0,0.1);
}
@media (max-width: 1267px) {
  .aside {
    max-width: none;
    padding: 30px 40px 0;
    width: 450px;
  }
}
@media (max-width: 767px) {
  .aside {
    width: calc(100vw - var(--scrollbar-width));
    padding: 30px 16px 0;
  }
}
.aside.active {
  transform: translateX(0);
}
.aside__close {
  position: absolute;
  z-index: 10;
  top: 44px;
  left: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: none;
  box-shadow: none;
  border: none;
  transition: 0.5s;
}
@media (max-width: 1267px) {
  .aside__close {
    top: 25px;
  }
}
@media (hover) {
  .aside__close:hover {
    opacity: 0.8;
  }
}
.aside__close::before,
.aside__close::after {
  content: '';
  width: 30px;
  height: 2px;
  background: var(--black);
  position: absolute;
  left: 0;
  top: 14px;
  transform: rotate(45deg);
}
.aside__close::after {
  transform: rotate(-45deg);
}
.tc-switch {
  display: flex;
  justify-content: flex-end;
  position: relative;
  background: inherit;
}
.tc-switch::before {
  content: '';
  position: absolute;
  width: calc(100% + 200px);
  height: 60px;
  left: -100px;
  top: -30px;
  display: block;
  background: inherit;
  z-index: 2;
}
@media (max-width: 1267px) {
  .tc-switch::before {
    width: calc(100% + 80px);
    left: -40px;
  }
}
.tc-switch__dropdown {
  background: var(--gold);
  position: absolute;
  width: calc(100% + 200px);
  left: -100px;
  top: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  transform: translateY(-60px);
  transition: transform 0.5s;
}
@media (max-width: 1267px) {
  .tc-switch__dropdown {
    width: calc(100% + 80px);
    left: -40px;
  }
}
.tc-switch__dropdown a {
  color: var(--white);
  text-decoration: none;
  border-bottom: 1px solid var(--white);
}
.tc-switch__link {
  z-index: 3;
  color: inherit;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.tc-switch__link--home {
  color: var(--gold);
}
.tc-switch__link--dropdown {
  padding-right: 20px;
  position: relative;
}
.tc-switch__link--dropdown::after {
  content: '';
  position: absolute;
  top: 2px;
  right: 0;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../img/icons/down.svg") no-repeat center;
  transition: 0.5s;
}
.tc-switch__link--dropdown.active::after {
  transform: rotate(180deg);
}
.tc-switch__link--dropdown.active + .tc-switch__dropdown {
  transform: translateY(0) !important;
}
@media (hover) {
  .tc-switch__link:hover {
    opacity: 0.8;
  }
}
.aside-fixed {
  margin-top: 90px;
}
@media (max-width: 1267px) {
  .aside-fixed {
    margin-top: 70px;
  }
}
.aside-fixed a {
  text-decoration: none;
  color: var(--gray3);
  transition: 0.5s;
}
@media (hover) {
  .aside-fixed a:hover {
    color: var(--gold);
  }
}
.aside-fixed .title2 {
  margin-bottom: 35px;
  font-weight: 500;
}
@media (max-width: 1267px) {
  .aside-fixed .title2 {
    margin-bottom: 30px;
  }
}
.aside-fixed .aside-scrollable {
  width: calc(100% + 100px);
  padding-right: 100px;
  max-height: calc(100vh - 300px);
  padding-bottom: 25px;
  overflow: auto;
}
@media (max-width: 1267px) {
  .aside-fixed .aside-scrollable {
    width: calc(100% + 40px);
    padding-right: 40px;
    max-height: calc(100vh - 220px);
  }
}
@media (max-width: 767px) {
  .aside-fixed .aside-scrollable {
    width: calc(100% + 30px);
    max-height: calc(100vh - 200px);
    padding-right: 30px;
  }
}
@media (hover) {
  .aside-fixed .aside-scrollable::-webkit-scrollbar {
    width: 8px;
    background: var(--white);
  }
  .aside-fixed .aside-scrollable::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: 4px;
    transition: 0.5s;
  }
  .aside-fixed .aside-scrollable:hover::-webkit-scrollbar-thumb {
    background: var(--gray4);
  }
}
.aside-catalog {
  margin-bottom: 90px;
  user-select: none;
}
@media (max-width: 1267px) {
  .aside-catalog {
    margin-bottom: 50px;
  }
}
.aside-catalog a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}
@media (hover) {
  .aside-catalog a:hover {
    color: var(--gold) !important;
  }
}
.aside-catalog__categories {
  border-top: 1px solid #c4c4c4;
  list-style: none;
  padding: 0;
  overflow-y: hidden;
}
.aside-catalog__categories.active {
  height: auto;
}
.aside-catalog__categories.active li.toggle-category {
  display: block !important;
}
.aside-catalog__categories li.toggle-category {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #c4c4c4;
  cursor: pointer;
  padding-right: 50px;
  min-width: 270px;
  display: none;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .aside-catalog__categories li.toggle-category {
    min-width: 0;
    width: 100%;
  }
}
.aside-catalog__categories li.toggle-category:nth-child(-n+5) {
  display: block;
}
.aside-catalog__categories li.toggle-category.active .aside-catalog__subcategories {
  display: block !important;
}
@media (hover) {
  .aside-catalog__categories li.toggle-category:hover {
    color: var(--gold);
  }
}
@media (hover) {
  .aside-catalog__categories li.toggle-category.active:hover {
    color: inherit;
  }
}
.aside-catalog__categories li.toggle-category::before,
.aside-catalog__categories li.toggle-category::after {
  content: '';
  display: block;
  height: 1px;
  width: 11px;
  background: var(--black);
  position: absolute;
  top: 27px;
  right: 0;
}
.aside-catalog__categories li.toggle-category::after {
  transform: translateY(-50%) rotate(90deg);
}
.aside-catalog__categories li.toggle-category.active::after {
  opacity: 0;
}
.aside-catalog__subcategories {
  list-style: none;
  padding: 15px 0 0;
  border-top: 1px solid #c4c4c4;
  margin-top: 15px;
  display: none;
}
.aside-catalog__subcategories li {
  display: block;
  padding: 0;
  color: var(--gray4);
  margin-bottom: 15px;
  border: none;
}
.aside-catalog__subcategories li:last-child {
  margin-bottom: 5px;
}
.aside-catalog__subcategories li a {
  display: block;
  width: 100%;
}
.aside-catalog__toggle {
  background: none;
  box-shadow: none;
  border: none;
  font-size: 16px;
  line-height: 1;
  color: var(--gold);
  width: 100%;
  position: relative;
  text-align: left;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}
@media (hover) {
  .aside-catalog__toggle:hover {
    opacity: 0.7;
  }
}
.aside-catalog__toggle::before {
  content: 'Больше категорий';
}
.aside-catalog__toggle.active::before {
  content: 'Меньше категорий';
}
.aside-catalog__toggle::after {
  content: '';
  width: 12px;
  height: 5px;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  background: url("../img/icons/down--gold.svg");
  transition: 0.5s;
}
.aside-catalog__toggle.active::after {
  transform: translateY(-50%);
}
.aside-menu {
  margin-bottom: 70px;
}
@media (max-width: 1267px) {
  .aside-menu {
    margin-bottom: 50px;
  }
}
.aside-menu a {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
  color: inherit;
  transition: 0.5s;
  text-decoration: none;
}
@media (hover) {
  .aside-menu a:hover {
    color: var(--gold);
  }
}
.aside-menu a:last-child {
  margin: 0;
}
.aside-contact__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.aside-contact__item:last-child {
  margin: 0;
}
.aside-contact__item svg {
  display: block;
  margin-right: 10px;
  margin-top: 2px;
  width: 15px;
  height: auto;
}
.aside-contact__item .text2 {
  margin: 0;
}
.aside-contact__item .text2 a {
  color: inherit;
  text-decoration: none;
}
.aside-social {
  margin-top: 50px;
  display: flex;
}
.aside-social a {
  color: var(--gray3);
  margin-right: 30px;
  text-decoration: none;
  transition: 0.5s;
}
@media (hover) {
  .aside-social a:hover {
    color: var(--gold);
  }
}
.aside-social a:last-child {
  margin-right: 0;
}
