mixin news-carousel-item(heading,slider_img)
  article.news__item
    a(href="/sale-detail.html")
      div(style="background-image:url(" + slider_img + ")").news__img
        div.news__overflow
          h3.news__brand.title2 Solo обои
          h4.news__sale -30%
    div.news__date.text3 27.03.2020
    a(href="/sale-detail.html")
      h3.text1= heading
    div.news__tc.text3 Гранд / Гранд Юг
