mixin page-top(img,title,subtitle)
  div(style="background-image: url(" + img + ")").page-top
    div.container
      div.page-top__text
        h1.page-top__title= title
        div.page-top__subtitle.text1= subtitle
    
