- var page_title = "Все ТЦ"
- var page_description = ""
- var page_keywords = ""
- var logo = ""

<!DOCTYPE HTML>
html(lang="ru")
  include common/head.pug
  body.all
    include common/header.pug
    main.main
      include blocks/home-links.pug
      include blocks/home-heading.pug
      include blocks/news-sales-carousel.pug
      include blocks/home-shops.pug
      include blocks/home-interior.pug
      include blocks/home-blog.pug
      include blocks/video-review.pug
      include blocks/catalog-carousel.pug
      include blocks/elrai-carousel.pug
      include blocks/catalog-carousel.pug
      include blocks/home-services.pug
      include blocks/privilege-form.pug
      include blocks/home-video.pug
    include common/footer.pug
    include common/footer_scripts.pug
