- var page_title = "Акция детально"
- var page_description = ""
- var page_keywords = ""
- var logo = "/img/logo.svg"

<!DOCTYPE HTML>
html(lang="ru")
  include common/head.pug
  body.all
    include common/header2.pug
    main.main
      section.page-head
        include mixins/page-top.pug
        +page-top("/img/demo/sale-detail-head.jpg","Скидки до 50% на мебель и кухни","")
      include mixins/breadcrumbs.pug
      +breadcrumbs("Главная","Новости и акции","Акции")
      include blocks/sale-detail.pug
    include common/footer.pug
    include common/footer_scripts.pug
