.school__left {
  width: 50%;
  padding-right: 200px;
}
@media (max-width: 1680px) {
  .school__left {
    padding-right: 80px;
    width: 55%;
  }
}
@media (max-width: 1023px) {
  .school__left {
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .school__left {
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
.school__left h2 {
  max-width: none;
  margin-bottom: 30px;
}
@media (max-width: 1267px) {
  .school__left h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1023px) {
  .school__left h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
@media (max-width: 1023px) {
  .school__left .text1 {
    font-size: 14px;
  }
}
.school__right {
  width: 50%;
}
@media (max-width: 1680px) {
  .school__right {
    width: 45%;
  }
}
@media (max-width: 767px) {
  .school__right {
    width: 100%;
    margin-bottom: 20px;
  }
}
.school__right img {
  width: 100%;
  display: block;
}
.school__item {
  display: flex;
  align-items: center;
  margin-bottom: 180px;
}
@media (max-width: 1680px) {
  .school__item {
    margin-bottom: 100px;
  }
}
@media (max-width: 1023px) {
  .school__item {
    margin-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .school__item {
    flex-direction: column-reverse !important;
    margin-bottom: 50px;
  }
}
.school__item:last-child {
  margin: 0;
}
.school__item:nth-child(even) {
  flex-direction: row-reverse;
}
.school__item:nth-child(even) .school__left {
  padding-left: 200px;
  padding-right: 0;
}
@media (max-width: 1680px) {
  .school__item:nth-child(even) .school__left {
    padding-left: 80px;
  }
}
