.check {
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  width: 19px;
  height: 19px;
  border: 2px solid var(--gray3);
}
input:checked + .check {
  background-image: url("../img/icons/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}
