.video {
  position: relative;
}
.video .overlay {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video .overlay div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(53,52,44,0.6);
}
.video .overlay div::before,
.video .overlay div::after {
  content: '';
  display: block;
  width: 50%;
  height: 20%;
  position: absolute;
  top: 15%;
  right: -10%;
  background: url("../img/video-grand.svg") no-repeat center;
  background-size: contain;
}
.video .overlay div::after {
  top: auto;
  bottom: 15%;
  left: -10%;
  right: auto;
}
.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  background: var(--gold);
  cursor: pointer;
  border: none;
  box-shadow: none;
  border-radius: 50%;
  background-image: url("../img/icons/play.svg");
  background-position: 54% 51%;
  background-repeat: no-repeat;
  transition: 0.5s;
  background-size: 30%;
}
@media (max-width: 1680px) {
  .video__btn {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 1267px) {
  .video__btn {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 767px) {
  .video__btn {
    width: 30px;
    height: 30px;
  }
}
@media (hover) {
  .video__btn:hover {
    transform: translate(-50%, -50%) scale(1.05);
  }
}
.video video {
  width: 100%;
  height: auto;
}
