.home-heading
  .container
    position relative
  .title-large
    margin 0 0 30px
    @media (max-width: 1680px)
      margin-bottom 20px
    @media (max-width: 767px)
      margin-bottom 10px
  .title1
    margin 0
    padding-left 350px
    @media (max-width: 1680px)
      padding-left 220px
    @media (max-width: 767px)
      padding-left 25px
