.messages
  &__messenger
    display none
  &__wrapper
    padding 50px 80px
    @media (max-width: 1680px)
      padding 30px 50px
    @media (max-width: 1267px)
      padding 20px
    @media (max-width: 767px)
      padding 15px
    &::after
      content ''
      display block
      clear both
  &__form
    padding 30px 80px
    @media (max-width: 1680px)
      padding 20px 50px
    @media (max-width: 1267px)
      padding 20px
    @media (max-width: 767px)
      padding 15px
    form
      display flex
      @media (max-width: 767px)
        display block
      .btn
        min-width 160px
        width 160px
        margin-left 30px
        flex-shrink 0
        height 50px
        @media (max-width: 1267px)
          margin-left 20px
        @media (max-width: 767px)
          width 100%
          margin-top 8px
          margin-left 0
      input
        width 100%
        height 50px
        border 1px solid #BDBDBD
        font-size 16px
        padding 0 15px
        @media (max-width: 767px)
          font-size 14px
  &__date
    font-size 16px
    text-align center
    color var(--gray3)
    margin-bottom 30px
    @media (max-width: 1680px)
      margin-bottom 20px
  &__time
    font-size 14px
    color var(--gray3)
    position absolute
    bottom 0
    right -15px
    transform translateX(100%)
  &__message
    margin-bottom 30px
    width 45%
    @media (max-width: 1680px)
      width 60%
      margin-bottom 20px
    @media (max-width: 1023px)
      width 70%
    @media (max-width: 767px)
      margin-bottom 15px
    div
      background #F2F2F2
      border-radius 10px
      padding 20px
      display inline-block
      position relative
    &--out
      float right
      div
        background var(--grand)
        color var(--white)
      .messages__time
        right auto
        left -15px
        transform translateX(-100%)
    &:last-child
      margin-bottom 0
  h2.text1
    margin 0 0 30px
  &__table
    width 100%
    border 3px solid var(--gray4)
    .th
      display flex
      background var(--gray4)
      color var(--white)
      @media (max-width: 767px)
        display none
      .td
        padding 15px 40px
        @media (max-width: 1680px)
          padding 15px 25px
        @media (max-width: 1267px)
          padding 15px 20px
        @media (max-width: 1023px)
          padding 15px
    .tr
      display flex
      align-items center
      border-top 1px solid var(--gray4)
      position relative
      transition .5s
      cursor pointer
      @media (max-width: 767px)
        flex-wrap wrap
        justify-content space-between
        padding 10px 0
      &::after
        content ''
        position absolute
        display block
        top 50%
        transform translateY(-50%)
        right 30px
        display block
        width 12px
        height 12px
        background url(../img/icons/down.svg) no-repeat center
        transition .5s
        opacity 0
        @media (max-width: 1267px)
          opacity 1
        @media (max-width: 767px)
          display none
      &.active
        background #E0E0E0
        &+.messages__messenger
          display block
        &::after
          opacity 1
          transform translateY(-50%) rotate(180deg)
      &:hover
        @media (hover)
          background #F2F2F2
          &::after
            opacity 1
      .td
        padding 25px 40px
        @media (max-width: 1680px)
          padding 25px
        @media (max-width: 1267px)
          padding 20px
        @media (max-width: 1023px)
          padding 15px
        @media (max-width: 767px)
          padding 5px 12px
    .td
      text-align left
      flex-shrink 0
      &:first-child
        width 180px
        @media (max-width: 1680px)
          width 150px
        @media (max-width: 1267px)
          width 140px
        @media (max-width: 1023px)
          width 120px
        @media (max-width: 767px)
          order 2
          width 120px
          font-size 12px
          color var(--gray3)
      &:nth-child(2)
        width 450px
        @media (max-width: 1680px)
          width 280px
        @media (max-width: 1267px)
          width 240px
        @media (max-width: 1023px)
          width 160px
        @media (max-width: 767px)
          order 3
          width 200px
      &:nth-child(3)
        width 300px
        @media (max-width: 1680px)
          width 200px
        @media (max-width: 1267px)
          width 160px
        @media (max-width: 1023px)
          width 100px
        @media (max-width: 767px)
          order 1
          width 200px
      &:nth-child(4)
        @media (max-width: 767px)
          order 4
          width 120px
          font-size 12px
.personal
  .filter
  .catalog__filter-trigger
    display none !important
  .catalog__grid
    @media (max-width: 1267px)
      grid-template-columns 1fr 1fr
  .catalog__bottom
    @media (max-width: 1267px)
      justify-content space-between
    @media (max-width: 1023px)
      justify-content flex-end
  .catalog__pagination
    @media (max-width: 1267px)
      width auto
  .title1
    @media (max-width: 1023px)
      margin-bottom 30px
  &__content
    display grid
    grid-template-columns 1fr 4fr
    grid-gap 80px
    @media (max-width: 767px)
      display block
  &__nav
    .title2
      margin-bottom 30px
      @media (max-width: 767px)
        max-width 200px
    a
      display block
      padding 15px 0
      border-bottom 1px solid #C4C4C4
      cursor pointer
      text-decoration none
      color inherit
      transition .5s
      &:hover
      &.active
        color var(--gold)
  &__panel
    display none
    margin-top 110px
    @media (max-width: 1023px)
      margin-top 90px
    @media (max-width: 767px)
      margin-top 50px
    &.active
      display block
  &__profile
    .btn
      margin-top 50px
      min-width 175px
  &__subscriptions
    label
      display block
      margin-bottom 25px
      position relative
      padding-left 40px
      .check
        top 6px
    .btn
      margin-top 50px
      min-width 175px
      @media (max-width: 1267px)
        margin-top 30px
  &__school
  &__wishlist
    padding 100px 240px
    background var(--gray1)
    text-align center
    @media (max-width: 1680px)
      padding 70px 130px
    @media (max-width: 1023px)
      padding 70px 100px
    @media (max-width: 767px)
      padding 50px
    .btn
      margin-top 30px
      @media (max-width: 1267px)
        margin-top 20px
  &__privilege
    padding 100px 130px
    background var(--gray1)
    display grid
    grid-template-columns 1fr 1fr 1fr
    grid-gap 60px
    @media (max-width: 1680px)
      padding 70px 100px
      grid-template-columns 1fr 1fr
    @media (max-width: 1267px)
      padding 40px
      display flex
      flex-wrap wrap
      align-items center
      justify-content space-between
    @media (max-width: 1023px)
      padding 40px 90px
      flex-direction column
      justify-content flex-start
      align-items flex-start
    @media (max-width: 767px)
      padding 50px
    .privilege-form__card
      margin-left 0
      @media (max-width: 1267px)
        order 1
        width 50%
      @media (max-width: 1023px)
        width 100%
    .privilege-form__card-name
    .privilege-form__card-number
      font-size 18px
      top 45%
      @media (max-width: 1680px)
        top 55%
    .privilege-form__card-name
      margin-top 35px
      font-size 12px
    .text2
      color var(--gray3)
    .btn
      margin-top 50px
      @media (max-width: 1680px)
        margin-top 30px
    .link
      display block
      margin-bottom 20px
  &__privilege-actions
    @media (max-width: 1680px)
      grid-column span 2
      display flex
      justify-content space-between
    @media (max-width: 1267px)
      order 2
      width 40%
      display block
    @media (max-width: 1023px)
      width 100%
      text-align center
      margin -20px 0
  &__privilege-text
    @media (max-width: 1267px)
      order 3
      margin-top -30px
      display flex
      align-items center
      .btn
        margin 0
      .text2
        padding-right 25px
    @media (max-width: 1023px)
      display block
      text-align center
      .text2
        padding-right 0
        margin-bottom 30px
        display block
