.privilege-form
  @media (max-width: 1680px)
    .section-top
      grid-template-columns 1fr 1fr
      position relative
      @media (max-width: 767px)
        display block
        padding-right 0
  &__block
    display grid
    grid-template-columns 2fr 3fr
    position relative
    @media (max-width: 1680px)
      display block
  &__right
    padding-left 50px
    @media (max-width: 1680px)
      padding-left 0
  &__left
    width 380px
    margin-left 90px
    text-align center
    @media (max-width: 1680px)
      margin-left 0
      margin-bottom 70px
    @media (max-width: 1023px)
      margin-bottom 40px
    @media (max-width: 767px)
      width 100%
    p
      color var(--gray3)
      margin 30px 0
  &__card
    position relative
    @media (max-width: 1680px)
      margin-left 30px
    @media (max-width: 767px)
      width 250px
      margin auto
    img
      width 100%
      display block
  &__card-number
  &__card-name
    text-align left
    position absolute
    top 57%
    padding 0 12%
    color var(--gray4)
    width 100%
    display flex
    justify-content space-between
    font-size 24px
    text-shadow 0 0 20px rgba(0,0,0,.5)
    @media (max-width: 767px)
      font-size 18px
      padding 0 25px
  &__card-name
    margin-top 42px
    font-size 16px
    text-transform uppercase
    @media (max-width: 767px)
      font-size 14px
      margin-top 30px
  &__auth
    background var(--gray1)
    margin-top 100px
    padding 60px 30px
    display flex
    justify-content space-between
    align-items center
    .btn
      margin-right 0
    @media (max-width: 1267px)
      flex-wrap wrap
      padding 30px 25px
      margin-left -25px
      margin-right -25px
      margin-top 70px
      > div
        width 100%
    @media (max-width: 1023px)
      margin-top 50px
      > div
        width 50%
        padding-right 100px
        margin-bottom 50px
    @media (max-width: 767px)
      margin-top 30px
      > div
        width 100%
        margin-bottom 30px
        padding 0
    h3
      font-size 26px
      margin 0
      margin-bottom 5px
      text-transform uppercase
      font-family var(--text-font)
      font-weight normal
    .reg-form
      width calc(100% - 460px)
      justify-content flex-end
      @media (max-width: 1267px)
        width 100%
        margin-top 30px
        justify-content space-between
      @media (max-width: 1023px)
        display block
        width 50%
      @media (max-width: 767px)
        width 100%
        margin-top 0
      .btn
        @media (max-width: 1680px)
          width 20%
          min-width 0
        @media (max-width: 1023px)
          width 200px
        @media (max-width: 767px)
          width 100%
      &__input
        width 32%
        margin 0
        margin-right 20px
        @media (max-width: 1680px)
          width 36%
        @media (max-width: 1023px)
          display block
          width 100%
          margin-right 0
          margin-bottom 20px
        input
          background var(--white)
          &:focus + span::before
            opacity 1 !important
        span
          display inline-block
          background transparent
          & > i
            position relative
            z-index 2
            font-style normal
          &::before
            content ''
            background var(--gray1)
            position absolute
            top 0
            left 0
            display block
            width 100%
            height calc(50% + 3px)
            opacity 0
            z-index 1
            @media (max-width: 1023px)
              height 10px


  h2
    max-width none
    margin 0 0 30px
    @media (max-width: 1680px)
      &.title-large
        font-size 64px
    @media (max-width: 1023px)
      &.title-large
        font-size 32px
        margin-bottom 20px
    @media (max-width: 767px)
      font-size 24px
      max-width 70%
  h2.title1
    @media (max-width: 1680px)
      margin-bottom 70px
    @media (max-width: 767px)
      max-width none !important
      margin-bottom 20px
  .section-top__info
    display block
    p
      padding 0
      width 100%
      padding-left 40%
    @media (max-width: 1680px)
      position absolute
      left 50%
      top 120px
      width 400px
      p
        padding 0
    @media (max-width: 1023px)
      top 0
      width auto
    @media (max-width: 767px)
      position static
      margin-bottom 30px
.privilege-form__loggedin
  margin-top 30px
  @media (max-width: 1680px)
    margin-top 0
    position absolute
    top 0
    right 0
    width calc(100% - 460px)
  p
    color var(--gray3)
.privilege__icons
  margin-top 30px
  display grid
  grid-template-columns 6fr 5fr
  @media (max-width: 1680px)
    margin-top 0
  div
    display flex
    align-items center
    margin-bottom 50px
    @media (max-width: 1680px)
      margin-bottom 30px
    img
      width 75px
      display block
      margin-right 30px
      @media (max-width: 1680px)
        width 55px
        margin-right 20px
    p
      margin 0
      color var(--black)
      font-size 20px
      line-height 1.2
      @media (max-width: 1680px)
        font-size 16px
