.school-numbers
  background var(--gray1)
  padding 100px 0
  @media (max-width: 1267px)
    padding 40px 70px
  @media (max-width: 1023px)
    padding 30px 50px
  @media (max-width: 767px)
    padding 10px 16px
  .container
    display flex
    justify-content space-between
  &__item
    h2
      margin 0
      font-family var(--text-font)
      font-size 75px
      line-height 1.2
      margin-bottom 10px
      @media (max-width: 1680px)
        font-size 60px
      @media (max-width: 1267px)
        font-size 48px
      @media (max-width: 1023px)
        font-size 36px
      @media (max-width: 767px)
        font-size 20px
        margin-bottom 5px
    h3
      margin 0
      @media (max-width: 1267px)
        font-size 18px
      @media (max-width: 1023px)
        font-size 14px
      @media (max-width: 767px)
        font-size 10px
