.search
  .tags
    @media (max-width: 1267px)
      display grid
      grid-template-columns 1fr 1fr 1fr 1fr
      a
        text-align center
    @media (max-width: 1023px)
      grid-template-columns 1fr 1fr 1fr
  .interior__dots
    width calc(100vw - 32px - var(--scrollbar-width))
  &__form
    width 550px
    position relative
    max-width 100%
    h1
      margin-bottom 30px
    input
      display block
      width 100%
      border none
      height 50px
      padding 0
      border-bottom 1px solid var(--black)
      &:focus
        border-bottom 1px solid var(--gold)
    button
      border none
      box-shadow none
      border-radius 0
      background none
      position absolute
      right 0
      bottom 13px
      width 19px
      height 19px
      display flex
      align-items center
      justify-content center
      padding 0
      cursor pointer
      transition .5s
      &:hover
        @media (hover)
          color var(--gold)
  &__results
    margin 50px 0
    @media (max-width: 767px)
      margin 30px 0
  &__panel
    margin-top 70px
    display none
    @media (max-width: 767px)
      margin-top 50px
    .filter
      display none
    &.active
      display block
    &-top
      display flex
      align-items center
      margin-bottom 50px
      @media (max-width: 767px)
        margin-bottom 30px
      .title1
        margin 0
        margin-right 80px
    .tags
      margin-bottom 30px
