.subscribe
  padding 0
  @media (max-width: 1023px)
    padding 0 25px
  @media (max-width: 767px)
    padding 0 16px
  &--border
    padding 30px 0
    border-top 1px solid #E0E0E0
    @media (max-width: 1023px)
      padding 30px 25px
    @media (max-width: 767px)
      padding 30px 16px
  .container
    display flex
    justify-content center
    @media (max-width: 1023px)
      justify-content space-between
    @media (max-width: 767px)
      display block
  &__left
    padding-top: 10px
    max-width 320px
    margin-right: 30px
    @media (max-width: 1680px)
      width 280px
    @media (max-width: 1023px)
      flex-shrink 0
      margin-right 0
      width 260px
    @media (max-width: 767px)
      width 100%
      text-align center
      margin-bottom 20px
    p
      margin 0
      font-size 18px
      @media (max-width: 1680px)
        font-size 16px
  &__right
    @media (max-width: 1023px)
      width calc(100% - 280px)
    @media (max-width: 767px)
      width 100%
  input[type="email"]
    display block
    width 710px
    margin-right 30px
    height 60px
    padding 20px 60px 21px
    font-family var(--text-font)
    font-size 16px
    border 1px solid var(--gray4)
    @media (max-width: 1680px)
      width 440px
      padding 20px 30px 21px
    @media (max-width: 1023px)
      width calc(100% - 180px)
      height 50px
      margin-right 20px
    @media (max-width: 767px)
      width 100%
      margin 0 0 20px
    &:focus
      border 1px solid var(--gold)
    &::placeholder
      color var(--gray3)
  &__right form
    display flex
    flex-wrap wrap
    max-width 940px
    @media (max-width: 1680px)
      max-width 690px
    @media (max-width: 1023px)
      max-width 100%
    @media (max-width: 767px)
      display block
    .btn
      min-width 200px
      @media (max-width: 1023px)
        min-width 160px
      @media (max-width: 767px)
        width 100%
  &__agree
    position relative
    width 100%
    display block
    margin-top 20px
    padding-left 30px
    color var(--gray3)
    font-size 14px
    user-select none
    @media (max-width: 1680px)
      max-width 440px
    a
      color inherit
    .check
      position absolute
      left 0
      top 0
      display block
      width 19px
      height 19px
      border 2px solid var(--gray3)
    input:checked + .check
      background-image url('../img/icons/check.svg')
      background-position center
      background-repeat no-repeat
      background-size 20px
